.navbar-wrapper {
    width:100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    position: sticky;
    
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .podcast-icon {
    color: #34c759;
    font-size: 1.5rem;
  }
  
  .navbar-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #111;
  }
  
  .nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 550;
    color: #111;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .nav-link:hover {
    color: #2ea94f;
  }
  
  .nav-icon {
    width: 1rem;
    height: 1rem;
  }
  
  .reserve-button {
    background-color: #34c759;
    color: white;
    padding: 0.5rem 1.25rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .reserve-button:hover {
    background-color: #2ea94f;
  }
  
 
  @media (max-width: 768px) {
    .navbar-content {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  
    .nav {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  
    .reserve-button {
      align-self: flex-start;
    }
  }
  